<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aloy-workshop01-app</title>
    <style>
        p {
            font-family: verdana;
        }
        p.message {
            font-size: 200%;
        }
    </style>
</head>
<body>
    <h3>CFDSA Pre-course Assignment by Aloysius Tan</h3>
    <p class="message"><img src="{{url_for('static', filename='learn-icon.png')}}" width="100" height="100" /> {{ random_msg }}</p>
    <p align="center">Repository  <a href="https://github.com/aloysiustan81/myrepo" target="_blank">https://github.com/aloysiustan81/myrepo</a> </p>
</body>
</html>